@charset "UTF-8";

[class $= "inner"] {
  width: 90%;
}
#visual {
  background: url(../img/visual_1.jpg)no-repeat left center / cover;
  height: 80vh;
}
#visual h2 {
  position: absolute;
  left: 5%;
  top: 65%;
  font-size: 50px;
    transition: all 0.2s;
}
#main h2 {
  text-decoration: underline 1px #204080;
}

/* header */
#header { 
  height: 50px;
}
#header .gnb-wrap {
  position: fixed;
  line-height: 1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  padding-top: 20px;
  background: rgba(0, 0, 0, 0.9);
  display: none; 
}
#header .gnb-top {
  float: none;
  width: auto;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  color: #fff;
  margin-bottom: 20px;
}
#header .gnb-top a {
  font-size: 16px;
  padding: 0;
  color: #ddd;
  padding: 0 15px;
}
#header .gnb-top a:not(:last-child) {
  border-right: 1px solid #555;
}
#header .gnb-bottom {
  margin: auto;
  width: 80%;
}
#header .gnb-bottom a {
  width: auto;
  margin: auto;
  width: 100%;
  float: none;
  color: #eee;
  margin-bottom: 10px;
  background: rgba(32, 64, 128, 0.3);
  letter-spacing: 1.5px;
}
#header h1 img {
  height: 50px;
  transition: all 0.2s;
}
#header .menu {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  padding: 7px 30px;
  background: none; /*기본값*/
  font-size: 35px;
  color: #204080;
}
#header .menu .fa-bars {
  display: block;
}
#header .menu .fa-times {
  display: none;
}

#header .menu.on .fa-bars {
  display: none;
}
#header .menu.on .fa-times {
  display: block;
}
/*cont-1*/
#main .cont-1 hr {
  display: none;
}
#main .cont-1 .list {
  margin: 0;
  margin-top: 50px;
}
#main .cont-1 .list li {
  width: 100%;
  margin: 0;
  float: none;
  padding-bottom: 70px;
}
#main .cont-1 .list li:not(:nth-child(3n)) {
  margin: 0;
}
#main .cont-1 .list li img {
  filter: none;
}
#main .cont-1 .go-btn a {
  margin: 0;
  margin-bottom: 50px;
}
/*cont-2*/
#main .cont-2 .inner {
  padding: 0;
  margin-top: 50px;
}
#main h2 {
  font-size: 40px;
  text-decoration: underline 1.3px;
}
#main .cont-2 .list {
  width: auto;
  margin: 0;
  width: 100%;
}

#main .cont-2 .list li:not(:nth-child(2n)) {
    margin-left: 2%;
}
#main .cont-2 .list li {
  margin: 0;
  position: relative;
  float: none;
  width: auto;
  width: 47%;
  padding-bottom: 100px;
  float: left;
}
#main .cont-2 .list h3 {
  font: 16px/1 "Base";
}
#main .cont-2 .list del {
  font-size: 16px;
}
#main .cont-2 .text-wrap {
  padding: 0;
}
#main .cont-2 .text-wrap p {
  padding: 10px 0;
  margin: 0;
}


#main .cont-2 .list li strong {
  font-size: 17px;
}
#main .cont-2 .list .zzim-btn a {
  position: absolute;
  right: 3%;
}
#main .cont-2 .list .zzim-btn img {
  height: 36px;
  
}
#main .cont-2 .list .quick-btn img {
  width: 80%;
  height: 80%;
  margin-right: 0;
}

/*cont-3*/
#main .cont-3 {
  background: url(../img/main_3_1.jpg)no-repeat center center / cover;
  height: 50vh;
}
/*cont-4*/
#main .cont-4 hr {
  display: none;
}
#main .cont-4 .list li:not(:last-child) {
  margin: 0;
  margin-bottom: 50px;
}
#main .cont-4 .list {
  margin: auto;
}
#main .cont-4 .list li {
  width: auto;
  width: 48%;
  padding: 0 15px;
  height: 270px;
  box-shadow: 1px 1px 10px #aaa;
}
#main .cont-4 .list h3 {
  font-size: 16px;
}
#main .cont-4 .list p b {
  font: 12px/1 "Base"; 
  margin-top: 5px;
}
#main .cont-4 .list p {
  font: 13px/1.3 "Base";
  padding: 0;
  padding: 20px 0;
}
#main .cont-4 .list li:not(:nth-child(2n)) {
  margin-right: 4%;
}
/*footer*/
#footer .footer-top .fbox-1,
#footer .footer-top .fbox-2,
#footer .footer-top .fbox-3,
#footer .footer-top .fbox-4 {
  width: auto;
  padding: 0;
  padding: 0;
  margin: 0;
  padding-bottom: 30px;
}
#footer .footer-top .fbox-1 {
  padding-top: 30px;
}
#footer .footer-bottom {
  font-size: 12px;
  padding: 30px;
}
.fixed-wrap  {
  width: auto;
  position: fixed;
  right: 0;
  bottom: 15%;
  z-index: 5;
}

.fixed-wrap button img {
  height: 50px;
  width: 50px;
}
